---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hello there. My name is Luis Portilo, I'm a Computer System Engineer, now I'm Jr yet but I am trying to learn JavaScript and Astro togheter
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>MySQL</li>
        <li>Astro</li>
        <li>Java</li>
        <li>HTML5</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I'm from Paraguay, I really love to know and learn about technology and I'm really passionated about all the know things that are related about artificial intelligence. My principal goal is have the knowledgement about all the new technology in the world.  
    </p>
    
  </div>
</Card>
